@import '01-variables.less';

html {
    width     : 100%;
    max-width : 100%;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    position: relative;

    margin    : 0;
    padding   : 0;
    width     : 100%;
    max-width : 100%;
    overflow-x: hidden;

    background-color: #fff;

    font-family   : 'Rubik', Arial, sans-serif;
    font-size     : var(--main-font-size);
    font-weight   : 400;
    color         : var(--main-font-color);
    line-height   : var(--main-line-height);
    word-wrap     : break-word;
    letter-spacing: 0em;

    overflow-x: hidden;
}

img {
    max-width: 100%;
    height   : auto;
}

a {
    text-decoration: none;
    color          : inherit;
    font           : inherit;
    cursor         : pointer;
}

ul {
    list-style: none;
    padding   : 0;
    margin    : 0;
}

h1,
h2,
h3,
p {
    padding: 0;
    margin : 0;

    font: inherit;
}

button {
    border : none;
    margin : 0;
    padding: 0;

    background-color: transparent;
    cursor          : pointer;
}

.visually-hidden {
    position: absolute !important;
    clip    : rect(1px 1px 1px 1px);
    clip    : rect(1px, 1px, 1px, 1px);
    border  : 0 !important;
    height  : 1px !important;
    width   : 1px !important;
    padding : 0 !important;
    overflow: hidden;
}

.container {
    width  : 100%;
    padding: 0 10px;
    margin : 0 auto;
}