@import './01-variables.less';

.header {
  height: 100vh;
  width : 100%;

  font-weight: bold;
  line-height: 20px;
  color      : #313849;

  &__wrapper_top {
    position: fixed;
    top     : 0;

    padding-left  : 10px;
    padding-right : 10px;
    display       : flex;
    padding-top   : 11px;
    padding-bottom: 13px;
    height        : 45px;
    width         : 100%;

    background-color: #fff;
    z-index         : 100;
  }

  &__burger {
    position: relative;
    display : block;
    z-index : 10;
  }

  &__menu {
    position: absolute;
    top     : 0;
    left    : -10px;

    width              : 80vw;
    height             : 100vh;
    display            : flex;
    flex-direction     : column;
    align-items        : center;
    transform          : translateX(-80vw);
    // background-color: #503ef6;
    z-index            : 15;
    transition         : transform 0.3s ease-out;
  }

  &__menu_open {
    background-color: #fff;
    transform       : translate(0);
    transition      : transform 0.3s ease-out;
    box-shadow      : 232px -1px 0 rgba(0, 0, 0, 0.65);
  }

  .header__menu_open {
    transform : translate(0);
    transition: transform 0.3s ease-out;
    box-shadow: 232px -1px 0 rgba(0, 0, 0, 0.65);
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__navigation {
    margin-bottom: 40px;
  }

  &__contacts-list {
    display        : flex;
    flex-direction : column;
    justify-content: center;

    text-align: center;
  }

  &__contacts-item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__whatsapp {
    position: relative;

    font-weight   : bold;
    line-height   : 20px;
    color         : @header-font-color;
    text-transform: uppercase;
    transition    : color @link-effect;
  }

  &__whatsapp::before {
    content  : '';
    position : absolute;
    top      : 50%;
    left     : -40px;
    transform: translateY(-50%);

    display: block;
    width  : 43px;
    height : 43px;

    background-image   : url('../img/whatsApp-icon.png');
    background-repeat  : no-repeat;
    background-position: center;
  }

  &__whatsapp:hover,
  &__whatsapp:focus,
  &__whatsapp:active {
    outline: none;
    color  : @hover-font-color;
  }

  &__tel {
    display        : flex;
    justify-content: center;
    align-items    : center;
    transition     : color @link-effect;
  }

  &__tel:hover,
  &__tel:focus,
  &__tel:active {
    outline: none;
    color  : @hover-font-color;
  }

  &__tel-num {
    display     : inline-block;
    margin-right: 12px;
  }

  &__tel-btn {
    width : 15px;
    height: 10px;

    background-image   : url('../img/poly.png');
    background-repeat  : no-repeat;
    background-position: center;
    transition         : transform @link-effect;
  }

  &__tel-btn_active {
    transform : rotate(180deg);
    transition: transform @link-effect;
  }

  &__tel-btn:focus,
  &__tel-btn:active {
    outline: none;
  }

  &__contacts-expand {
    display: none;
  }

  &__tel_add {
    margin-top: 15px;
    transform : translateX(-8px);
  }

  &__callback {
    padding      : 14px 10px;
    border       : 3px solid #313849;
    box-sizing   : border-box;
    border-radius: 3px;

    text-transform: uppercase;
    color         : @header-font-color;
    transition    : color @link-effect, border @link-effect;
  }

  &__callback:hover,
  &__callback:focus,
  &__callback:active {
    outline: none;
    color  : @hover-font-color;
    border : 3px solid @hover-font-color;
  }

  &__wrapper_bottom {
    margin-top: 45px;
    height    : calc(100vh - 45px);
  }

  &__glide {
    position: relative;
  }

  &__track {
    width   : 100%;
    overflow: hidden;
  }

  &__slides {
    height     : calc(100vh - 45px);
    display    : flex;
    align-items: center;
  }

  &__slide {
    width : 100%;
    height: 100%;

    background-image : url('../img/header-bg-1.png');
    background-repeat: no-repeat;
    background-size  : cover;

    overflow: hidden;

    &_sec {
      display: none;
    }
  }

  &__slide-wrapper {
    padding    : 0 10px;
    width      : 100%;
    height     : 100%;
    display    : flex;
    flex-wrap  : wrap;
    align-items: center;
  }

  &__title {
    padding-bottom: 20px;

    font-style    : normal;
    font-weight   : bold;
    font-size     : 32px;
    line-height   : 110%;
    color         : #eaeaea;
    text-transform: uppercase;
  }

  &__info {
    margin-bottom: 50px;

    font-family: @gotham-pro;
    font-weight: 700;
    font-size  : 30px;
    line-height: 110%;
    color      : #eaeaea;
  }

  &__btn_order {
    padding         : 19px 40px;
    border          : 3px solid #ffffff;
    box-sizing      : border-box;
    // box-shadow   : 0px 15px 40px rgba(116, 52, 32, 0.5);
    border-radius   : 3px;

    font-weight   : bold;
    font-size     : 16px;
    line-height   : 110%;
    color         : #ffffff;
    text-transform: uppercase;

    transition: background-color @link-effect, border-color @link-effect;
  }

  &__btn_order:hover,
  &__btn_order:focus,
  &__btn_order:active {
    outline     : none;
    background  : #e3653f;
    border-color: #e3653f;
  }

  &__btn_order span {
    display     : inline-block;
    margin-right: 10px;
  }

  &__img-wrapper {
    display: none;
  }

  &__arrows {
    display: none;
  }

  &__bullets {
    position: absolute;
    bottom  : 5%;
    left    : 0;

    width          : 100%;
    height         : 15px;
    display        : flex;
    justify-content: center;
    align-items    : center;

    transition: all @link-effect;
  }

  &__bullet {
    width        : 8px;
    height       : 8px;
    border-radius: 50%;

    background-color: #c4c4c4;
  }

  &__bullet:not(:last-child) {
    margin-right: 10px;
  }

  &__bullet:hover,
  &__bullet:focus,
  &__bullet:active {
    outline: none;
  }
}

.glide__bullet--active {
  width        : 15px;
  height       : 15px;
  border-radius: 0;

  background-image : url('../img/active-bullet.png');
  background-repeat: no-repeat;
  background-size  : contain;
  background-color : transparent;
}

@media (min-width: 576px) {
  .header {
    &__title {
      font-size: 45px;
    }

    &__info {
      font-size: 40px;
    }

    &__btn_order {
      font-size: 20px;
    }
  }
}

@media (min-width: @tablet-width) {
  .header {
    &__wrapper_top {
      padding-left : 30px;
      padding-right: 30px;
    }

    &__slide {
      padding-left : 30px;
      padding-right: 30px;
    }

    &__img-wrapper {
      display        : flex;
      justify-content: flex-end;
      align-items    : flex-start;
    }
  }
}

@media(min-width: 1024px) {
  .header {
    &__slide_sec {
      background-image: url('../img/header-bg-2.jpg');
    }

    &__title {
      font-size: 75px;
    }

    &__info {
      font-size: 50px;
    }

    &__btn_order {
      font-size: 24px;
    }

    &__img-wrapper_sec {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .header {
    &__wrapper_top {
      // left: 50%;
      padding-left : 50px;
      padding-right: 50px;
      // transform: translateX(-50%);
    }

    &__glide {
      position: relative;
    }

    &__slide {
      padding-right: 50px;
      padding-left : 50px;

      background-repeat  : no-repeat;
      background-size    : cover;
      background-position: center;
    }

    &__slide-wrapper {
      max-width   : 1770px;
      margin-left : auto;
      margin-right: auto;
    }

    &__text-wrapper {
      width       : 70%;
      max-width   : 765px;
      padding-top : 15px;
      padding-left: 15px;

      &_sec {
        max-width: 530px;
      }
    }

    &__box {
      width: 100%;
    }

    &__img-wrapper {
      position: relative;
      top     : -200px;
    }

    &__arrows {
      position : absolute;
      top      : 50%;
      transform: translateY(-50%);

      display        : flex;
      justify-content: space-between;
      width          : 100%;
      padding-left   : 10px;
      padding-right  : 10px;



      button:hover,
      button:focus,
      button:active {
        outline: none;
      }
    }

    &__btn-prev,
    &__btn-next {
      transition: background-image @link-effect;
    }

    &__btn-prev:hover,
    &__btn-prev:focus,
    &__btn-prev:active {
      background-image   : url('../img/un-prev.png');
      background-repeat  : no-repeat;
      background-position: center;
    }

    &__btn-next:hover,
    &__btn-next:focus,
    &__btn-next:active {
      background-image   : url('../img/un-next.png');
      background-repeat  : no-repeat;
      background-position: center;
    }

  }
}

@media (min-width: 1200px) {
  .header {
    &__burger {
      display: none;
    }

    &__wrapper_top {
      height       : 70px;
      padding-left : 0px;
      padding-right: 0px;
    }

    &__box_top {
      max-width   : 1770px;
      margin-left : auto;
      margin-right: auto;
    }

    &__menu {
      position: relative;
      top     : 0;
      left    : 0px;

      width              : 100%;
      height             : 100%;
      display            : flex;
      flex-direction     : row;
      align-items        : center;
      transform          : translateX(0);
      // background-color: #503ef6;
      z-index            : 15;
    }

    &__logo {
      margin-bottom: 0px;
      margin-right : auto;
    }

    &__navigation {
      margin-bottom: 0px;
    }

    &__contacts-list {
      margin-left   : auto;
      flex-direction: row;
      align-items   : center;
    }

    &__contacts-item:not(:last-child) {
      margin-bottom: 0px;
      margin-right : 30px;
    }

    &__contacts__item-tel {
      position: relative;
    }

    &__contacts-expand {
      position: absolute;
    }

    &__tel_add {
      transform: translateX(0);
    }

    &__contacts-item_whatsapp {
      padding-left: 40px;
    }

    &__wrapper_bottom {
      margin-top: 70px;
    }

    &__slide-wrapper {
      max-width   : 1770px;
      margin-left : auto;
      margin-right: auto;
    }

    &__bullets {
      bottom: 100px;
    }
  }

  .navigation {
    &__list {
      flex-direction : row;
      justify-content: center;
    }

    &__item:not(:last-child) {
      margin-bottom: 0px;
      margin-right : 30px;
    }
  }
}

@media(min-width: 1660px) {
  .header {
    &__box {
      display: flex;
    }

    &__img-wrapper {
      width          : calc(100% - 765px);
      justify-content: center;
      align-items    : center;

      img {
        transform       : scale(1.2);
        transform-origin: center top;
      }
    }
  }
}

@media(min-width: 1870px) {
  .header {
    &__glide {
      width: 100%;
    }

    &__arrows {
      left  : 0;
      right : 0;
      bottom: 0;

      max-width: 1870px;
      margin   : 0 auto;
      padding  : 0;
    }
  }
}