@import './01-variables.less';

.cert {
    position: relative;

    padding-top   : 50px;
    padding-bottom: 50px;

    &__title {
        margin-bottom: 37px;

        font-weight: bold;
        color      : #313849;
    }

    &__list {}

    &__item {
        // width: 100%;

    }

    &__dots {
        height         : 15px;
        display        : flex;
        justify-content: center;
        align-items    : center;
    }

    &__dot {
        width        : 8px;
        height       : 8px;
        border-radius: 50%;

        background-color: #C4C4C4;
        transition      : all @link-effect;
    }

    &__dot:not(:last-child) {
        margin-right: 10px;
    }

    &__dot:focus,
    &__dot:active {
        outline: none;
    }

    &__dot.active {
        width        : 15px;
        height       : 15px;
        border-radius: 0;

        background-image : url('../img/active-bullet.png');
        background-repeat: no-repeat;
        background-size  : contain;
        background-color : transparent;
    }

    &__arrows {
        display: none;
    }

    &__close {
        margin-top  : 20px;
        margin-right: 20px;
        width       : 50px;
        height      : 50px;

        background-color : transparent;
        background-image : url('../img/close-gallery.png');
        background-repeat: no-repeat;
    }

    &__gallery-arrow {
        width  : 50px;
        height : 50px;
        padding: 27px 8px 26px 6px !important;

        background-color   : transparent;
        background-repeat  : no-repeat;
        background-position: center;
    }

    &__gallery-arrow_next {
        background-image: url('../img/gallery-next.png');
    }

    &__gallery-arrow_prev {
        background-image: url('../img/gallery-prev.png');
    }
}

@media(min-width: 1200px) {
    .cert {
        padding-top   : 117px;
        padding-bottom: 92px;

        &__title {
            margin-left  : 110px;
            margin-bottom: 67px;
            text-align   : left;
        }


        &__arrows {
            position : absolute;
            top      : 50%;
            transform: translate(-60px, -50%);

            display        : flex;
            justify-content: space-between;
            width          : calc(100% + 120px);
            padding-left   : 10px;
            padding-right  : 10px;
        }

        &__arrows_rtl {
            position : absolute;
            top      : 50%;
            transform: translate(60px, -50%);

            display        : flex;
            justify-content: space-between;
            width          : calc(100% + 120px);
            padding-left   : 10px;
            padding-right  : 10px;
        }

        &__arrow_prev {
            position  : relative;
            width     : 52px;
            height    : 44px;
            transition: background-image @link-effect;

            &::before {
                content: '';
                display: block;
                width  : 100%;
                height : 100%;

                background-image : url('../img/prev-sert.png');
                background-repeat: no-repeat;
                background-size  : cover;
                transition       : background-image @link-effect;
            }

            &_next::before {
                background-image: url('../img/next-sert.png');
            }

            &:hover,
            &:focus,
            &:active {
                outline            : none;
                background-image   : url('../img/active-prev-sert.png');
                background-repeat  : no-repeat;
                background-position: 3.9px 2.7px;
            }

            & span {
                display: none;
            }
        }

        &__arrow_next {
            position  : relative;
            width     : 52px;
            height    : 44px;
            transition: background-image @link-effect;

            &::before {
                content: '';
                display: block;
                width  : 100%;
                height : 100%;

                background-image : url('../img/next-sert.png');
                background-repeat: no-repeat;
                background-size  : cover;
                transition       : background-image @link-effect;
            }

            &:hover,
            &:focus,
            &:active {
                outline            : none;
                background-image   : url('../img/active-next-sert.png');
                background-repeat  : no-repeat;
                background-position: 4px 2px;
            }

            & span {
                display: none;
            }
        }

        &__close {
            margin-top  : 50px;
            margin-right: 50px;
        }
    }
}