@import './01-variables.less';

@width: calc(100vw - 15%);

.about {
  padding-top: 50px;

  &__subtitle {
    margin-bottom: 30px;
    font-weight  : bold;
    font-size    : 2.5rem;
    line-height  : 40px;

    & span {
      color: #df622c;
    }
  }

  &__text {
    font-family: Gotham Pro;
    font-style : normal;
    font-weight: normal;
    font-size  : 20px;
    line-height: 120%;

    &_orange {
      color: #df622c;
    }

    &_bold {
      font-weight: bold;
    }
  }

  &__text-box {
    margin-bottom: 30px;

    p:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__info {
    margin-bottom : 30px;
    padding-bottom: 30px;
    border-bottom : 3px solid #f2f2f2;
  }

  &__list {
    margin-top    : 30px;
    margin-bottom : 30px;
    display       : flex;
    flex-direction: column;
  }

  &__item {
    position    : relative;
    padding-left: 38px;

    font-family: Gotham Pro;
    font-style : normal;
    font-weight: normal;
    font-size  : 18px;
    line-height: 120%;
    color      : #000000;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &::before {
      content : '';
      position: absolute;
      left    : 0;

      display: block;
      width  : 15px;
      height : 100%;

      background-image   : url('../img/about-elem.png');
      background-repeat  : no-repeat;
      background-position: center;
    }
  }

  &__gallery-wrapper {
    position  : relative;
    width     : @width;
    //height  : @width;

    display       : flex;
    flex-direction: column;
    align-items   : flex-end;

    max-width   : 600px;
    margin-left : auto;
    margin-right: auto;
  }

  &__gallery-list {
    position: relative;
    width   : 100%;
    height  : 100%;
    z-index : 5;

    height: 100%;
  }

  &__gallery-item {
    width        : 100%;
    height       : 100%;
    // box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  &__img {
    object-fit: fill !important;
    width     : 100%;
    height    : 100%;
  }

  &__gallery-item-clone {
    position: absolute;

    top : 15px;
    left: 15px;

    width  : 100%;
    z-index: 1;
    height : auto;

    &::after {
      content: '';

      position: absolute;
      left    : 0;
      top     : 0;

      display         : block;
      width           : 100%;
      height          : 100%;
      background-color: #df622c;
      opacity         : 0.5;
    }

    & img {
      width: 100%;
    }
  }

  &__img-clone {
    height    : 100%;
    transition: all @link-effect;
    display   : block;
  }

  &__slider-num {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .about {

    &__list {
      flex-direction: row;
      flex-wrap     : wrap;
      align-items   : center;
    }

    &__item {
      flex-basis: 50%;

      &:not(:last-child) {
        margin-bottom: 0;
      }

      &:first-child,
      &:nth-child(2) {
        margin-bottom: 30px;
      }
    }

    &__gallery-item-clone {
      top : 25px;
      left: 25px;
    }
  }
}

@media (min-width: 1300px) {
  .about {
    padding-top: 140px;

    &__subtitle-text {
      margin-bottom: 90px;
    }

    &__container {
      max-width: 1550px;
    }

    &__content {
      display        : flex;
      justify-content: space-between;
    }

    &__wrapper {
      max-width        : 720px;
      padding-right    : 50px;
      //margin-left    : -50px;
      // margin-right: 100px;
    }

    &__subtitle {
      margin-bottom: 44px;
      font-size    : 40px;
    }

    &__text {
      font-size: 24px;
    }

    &__item {
      font-size: 22px;
    }

    &__gallery-wrapper {
      display       : flex;
      flex-grow     : 1;
      max-width     : 752px;
      align-items   : flex-end;
      //margin-right: -50px;
    }

    &__gallery-list {
      // display    : flex !important;
      // align-items: flex-end;
    }

    &__gallery-item {
      // padding-bottom: 18%;
      width: 100%;
    }

    &__gallery-item-clone {
      // top   : auto;
      // left  : 8%;
      // bottom: -8%;
      // width : 100%;
    }

    &__gallery-item-clone {
      top : 75px;
      left: 75px;
    }

    &__slider-num {
      position: absolute;
      top     : 705px;
      left    : 233px;

      display: block;
      width  : 38px;
      height : 20px;

      font-weight: bold;
      font-size  : 20px;
      line-height: 20px;
      text-align : center;
      color      : #ffffff;

      z-index: 15;
    }
  }
}

// .owl-stage-outer * {
//   height: 100%;
// }

#owl-demo .item img {
  display: block;
  width  : 100%;
  height : auto;
}

.animated {
  -webkit-animation-duration : 1000 ms;
  animation-duration         : 1000 ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode        : both;
}

.owl-animated-out {
  z-index: 1;
}

.owl-animated-in {
  z-index: 0;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name        : fadeOut;
}

@keyframes fadeIn {
  0% {
    opacity  : 0;
    transform: translate(14%, 50%);
  }

  100% {
    opacity  : 1;
    transform: translate(0%, 0%);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}