@import './01-variables.less';

.about {
  padding-top  : 50px;
  margin-bottom: 50px;

  &__subtitle {
    margin-bottom: 30px;
    font-weight  : bold;
    font-size    : 2.5rem;
    line-height  : 40px;

    & span {
      color: #df622c;
    }
  }

  &__text {
    font-family: Gotham Pro;
    font-style : normal;
    font-weight: normal;
    font-size  : 20px;
    line-height: 120%;

    &_orange {
      color: #df622c;
    }

    &_bold {
      font-weight: bold;
    }
  }

  &__text-box {
    margin-bottom: 30px;

    p:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__info {
    margin-bottom : 30px;
    padding-bottom: 30px;
    border-bottom : 3px solid #f2f2f2;
  }

  &__list {
    margin-top    : 30px;
    margin-bottom : 30px;
    display       : flex;
    flex-direction: column;
  }

  &__item {
    position    : relative;
    padding-left: 38px;

    font-family: Gotham Pro;
    font-style : normal;
    font-weight: normal;
    font-size  : 18px;
    line-height: 120%;
    color      : #000000;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &::before {
      content : '';
      position: absolute;
      left    : 0;

      display: block;
      width  : 15px;
      height : 100%;

      background-image   : url('../img/about-elem.png');
      background-repeat  : no-repeat;
      background-position: center;
    }
  }

  &__gallery-wrapper {
    position: relative;
  }

  &__gallery-list {
    position: relative;
    width   : 100%;
    height  : auto;
    z-index : 5;
  }

  &__gallery-item {
    width: 86%;
  }

  &__clone {
    position: absolute;
  }

  &__gallery-item-clone {
    position: absolute;
    left    : 0;
    top     : 0;

    top : 14%;
    left: 14%;

    width   : 86%;
    z-index : 1;
    //filter: sepia(100%);
    z-index : 1;

    &::after {
      content: '';

      position: absolute;
      left    : 0;
      top     : 0;

      display         : block;
      width           : 100%;
      height          : 100%;
      background-color: #DF622C;
      opacity         : .5;
    }

    & img {
      width: 100%;
    }
  }

  &__slider-num {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .about {
    margin-bottom: 120px;

    &__list {
      flex-direction: row;
      flex-wrap     : wrap;
    }

    &__item {
      flex-basis: 50%;

      &:not(:last-child) {
        margin-bottom: 0;
      }

      &:first-child,
      &:nth-child(2) {
        margin-bottom: 30px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .about {
    padding-top: 140px;


    &__content {
      display        : flex;
      justify-content: space-between;
    }

    &__wrapper {
      max-width      : 720px;
      // margin-right: 100px;
    }

    &__subtitle {
      margin-bottom: 44px;
      font-size    : 40px;
    }

    &__text {
      font-size: 24px;
    }

    &__item {
      font-size: 22px;
    }

    &__gallery-wrapper {
      display  : flex;
      flex-grow: 1;
      max-width: 752px;
    }

    &__gallery-list {
      display    : flex !important;
      align-items: flex-end;
    }

    &__gallery-item {
      padding-bottom: 18%;
      width         : 100%;
    }

    &__gallery-item-clone {
      top   : auto;
      bottom: 0;
      width : 100%;
    }

    &__slider-num {
      position: absolute;
      bottom  : 65px;
      left    : 233px;

      display: block;
      width  : 38px;
      height : 20px;

      font-weight: bold;
      font-size  : 20px;
      line-height: 20px;
      text-align : center;
      color      : #ffffff;

      z-index: 15;
    }
  }
}

.animated {
  -webkit-animation-duration : 1000 ms;
  animation-duration         : 1000 ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode        : both;
}

/* .owl-animated-out - only for current item */
/* This is very important class. Use z-index if you want move Out item above In item */
.owl-animated-out {
  z-index: 1
}

/* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */
.owl-animated-in {
  z-index: 0
}

/* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name        : fadeOut;
}

@keyframes fadeIn {
  0% {
    opacity  : 0;
    transform: translate(14%, 14%);
  }

  100% {
    opacity  : 1;
    transform: translate(0%, 0%);
  }
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}