@import './01-variables.less';

.about {
  padding-top: 50px;

  &__subtitle {
    margin-bottom: 30px;
    font-weight  : bold;
    font-size    : 2.5rem;
    line-height  : 40px;

    & span {
      color: #df622c;
    }
  }

  &__text {
    font-family: Gotham Pro;
    font-style : normal;
    font-weight: normal;
    font-size  : 20px;
    line-height: 120%;

    &_orange {
      color: #df622c;
    }

    &_bold {
      font-weight: bold;
    }
  }

  &__text-box {
    margin-bottom: 30px;

    p:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__info {
    margin-bottom : 30px;
    padding-bottom: 30px;
    border-bottom : 3px solid #f2f2f2;
  }

  &__list {
    margin-top    : 30px;
    margin-bottom : 30px;
    display       : flex;
    flex-direction: column;
  }

  &__item {
    position    : relative;
    padding-left: 38px;

    font-family: Gotham Pro;
    font-style : normal;
    font-weight: normal;
    font-size  : 18px;
    line-height: 120%;
    color      : #000000;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &::before {
      content : '';
      position: absolute;
      left    : 0;

      display: block;
      width  : 15px;
      height : 100%;

      background-image   : url('../img/about-elem.png');
      background-repeat  : no-repeat;
      background-position: center;
    }
  }

  &__gallery-wrapper {
    position: relative;
  }

  &__gallery-list {
    position: relative;
    width   : 100%;
    height  : auto;
    z-index : 5;
  }

  &__gallery-item {
    width: 86%;
  }

  &__clone {
    position: absolute;
    top     : 16%;
    left    : 16%;

    width  : 86%;
    z-index: 1;
  }

  &__gallery-item-clone {
    position: absolute;
    left    : 0;
    top     : 0;

    filter : sepia(100%);
    z-index: 1;
  }
}

@media (min-width: @tablet-width) {
  .about {
    &__list {
      flex-direction: row;
      flex-wrap     : wrap;
    }

    &__item {
      flex-basis: 50%;

      &:not(:last-child) {
        margin-bottom: 0;
      }

      &:first-child,
      &:nth-child(2) {
        margin-bottom: 30px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .about {
    padding-top: 140px;

    &__box_top {
      max-width: 720px;
    }

    &__subtitle {
      margin-bottom: 44px;
      font-size    : 40px;
    }

    &__text {
      font-size: 24px;
    }

    &__item {
      font-size: 22px;
    }
  }
}