.overlay_order {
  /* position: relative; */
}

.order-form__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.order-form__desc {
  padding: 20px 14px;
  margin-bottom: 20px;

  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 110%;
  /* identical to box height, or 18px */

  text-align: center;

  color: #ffffff;

  background-image: url("../img/modal-order.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.order-form__choice {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.order-form__input-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-form__input:not(:last-child) {
  margin-bottom: 20px;
}

.order-form__select {
  width: 100%;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 30px;
}

.order-form__select-title {
  position: relative;
  height: 40px;
  background: #ffffff;
  border-radius: 3px;
  width: 100%;
  padding: 11px 20px;
  cursor: pointer;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 110%;
  /* or 15px */
  color: #b7b7b7;
  text-align: left;
}

.order-form__select-title:hover,
.order-form__select-title:focus,
.order-form__select-title:active {
  outline: none;
}

.order-form__option {
  padding: 11px 20px;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 110%;
  color: #000;
  cursor: pointer;
}

.order-form__select-title span {
  display: inline-block;
  width: calc(100% - 30px);
  overflow: hidden;
  white-space: nowrap;
}

.order-form__select-title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 0;

  display: block;
  width: 10px;
  height: 100%;

  background-image: url("../img/about-elem.png");
  background-repeat: no-repeat;
  background-position: center;
}

.customselect li:nth-child(even) {
  background-color: #f0f8ff;
}

.customselect li:hover {
  background-color: #7fffd4;
}

.customselect ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  z-index: 1000;
  background: white;
  width: 100%;
  border-bottom: 1px solid #add8e6;
  border-left: 1px solid #add8e6;
  border-right: 1px solid #add8e6;
}

.customselect.open ul {
  display: block;
}

.customselect.open .order-form__select-title::after {
  transform: rotate(90deg);
}

.order-form__chk-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.order-form__chk-left {
  margin-bottom: 20px;
}

.order-form__label {
  position: relative;
  left: 60px;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 110%;
  /* or 15px */

  color: #ffffff;
}
.order-form__label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
  display: block;
  width: 25px;
  height: 25px;

  border: 2px solid #b1b1b1;
  border-radius: 5px;
}

.order-form__label::after {
  content: "";
  position: absolute;
  left: -39.5px;
  top: 6px;
  top: calc(50% - 2px);
  display: inline-block;
  height: 6px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg) translateY(-50%);
}
.order-form__chk + label::after {
  content: none;
}
.order-form__chk:checked + label::after {
  content: "";
}

.order-form__chk:checked + label::before {
  content: "";
  background: #df622c;
  border-radius: 5px;
  border: none;
}

.order-form__radio-title {
  margin-bottom: 20px;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 110%;
  /* or 15px */

  color: #ffffff;
}

.order-form__radio-label {
  position: relative;
  left: 10px;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 110%;
  /* or 15px */

  text-align: right;

  color: #ffffff;
}

.order-form__radio-wrap {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
}

.order-form__radio-container {
  margin-bottom: 20px;
  padding-left: 30px;
  width: 50%;
}

.order-form__radio-label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
  display: block;
  width: 25px;
  height: 25px;

  border: 2px solid #b1b1b1;
  border-radius: 5px;
}
.order-form__radio-label::after {
  content: "";
  position: absolute;
  left: -29.5px;
  top: 6px;
  top: calc(50% - 2px);
  display: inline-block;
  height: 6px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg) translateY(-50%);
}

.order-form__radio + label::after {
  content: none;
}
.order-form__radio:checked + label::after {
  content: "";
}

.order-form__radio:checked + label::before {
  content: "";
  background: #df622c;
  border-radius: 5px;
  border: none;
}

.order-form__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-form__btn {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .order-form__top {
    flex-direction: row;
  }

  .order-form__desc {
    margin-bottom: 0;
    margin-right: 20px;
    flex-grow: 1;
  }

  .order-form__radio-wrap {
    flex-wrap: nowrap;
  }

  .order-form__radio-container {
    width: 25%;
  }

  .order-form__wrap {
    flex-direction: row;
  }
}
